.butao
{
    transition: 0.5s!important;
}
.butao:hover
{
    background-color: #84A400!important;
}
.carousel-control.left, .carousel-control.right 
{
    background-image:none !important;
    filter:none !important;
 }
.shadow
{
    background-color: #84A400!important;
}
#produto
{
    transition: 0.3s;
}
#produto:hover
{
    box-shadow: 10px 5px 5px #84A400!important;
}